services:
  execution:
    tty: true
    environment:
      - TERM=xterm-256color
      - COLORTERM=truecolor
    stop_signal: SIGINT 
    stop_grace_period: 30s
    container_name: gas-execution-client
    restart: unless-stopped
    image: ${EC_IMAGE_VERSION}
    pull_policy: always
    networks:
      - gas
    volumes:
      - execution_data:/nethermind/data
      - ${EC_JWT_SECRET_PATH}:/tmp/jwt/jwtsecret
      - ${CHAINSPEC_PATH}:/tmp/chainspec/chainspec.json
      - ./diagfiles:/nethermind/diag
    ports:
      - "8009:8009"
      - "8545:8545"
      - "8551:8551"
    expose:
      - 8545
      - 8551

    command:
      - ${NETHERMIND_CONFIG_FLAG}
      - --datadir=/nethermind/data
      - --JsonRpc.Enabled=true
      - --JsonRpc.Host=0.0.0.0
      - --JsonRpc.Port=8545
      - --JsonRpc.JwtSecretFile=/tmp/jwt/jwtsecret
      - --JsonRpc.EngineHost=0.0.0.0
      - --JsonRpc.EnginePort=8551
      - --Network.DiscoveryPort=0
      - --Network.MaxActivePeers=0
      - --Init.DiscoveryEnabled=false
      - --HealthChecks.Enabled=true
      - --Metrics.Enabled=true
      - --Metrics.ExposePort=8008
      - --Init.GenesisHash=0x9cbea0de83b440f4462c8280a4b0b4590cdb452069757e2c510cb3456b6c98cc
      - --Sync.MaxAttemptsToUpdatePivot=0
      - --Init.AutoDump=None
      #- --Pruning.PruningBoundary=2000
      - --Merge.NewPayloadBlockProcessingTimeout=70000
      - --Merge.TerminalTotalDifficulty=0
      - --Init.LogRules=Consensus.Processing.ProcessingStats:Debug
      - --Blocks.CachePrecompilesOnBlockProcessing=false
      - --FlatDb.Enabled=true
      - --FlatDb.ImportFromPruningTrieState=true
      - --Db.FlatStateDbEnableFileWarmer=true
      - --Db.FlatStorageDbEnableFileWarmer=true
      - ${NETHERMIND_GENESIS_FLAG:---log=INFO}
    logging:
      driver: json-file
      options:
        max-size: 10m
        max-file: "10"
    labels:
      metrics_enabled: "true"
      metrics_port: "8008"
      metrics_path: "/metrics"
      logs_enabled: "false"
      instance: "${GA_METRICS_LABELS_INSTANCE}"
  alloy:
    environment:
      METRICS_LABELS_EXECUTION_CLIENT: "nethermind"
    extends:
      file: ../addons/alloy/compose.yaml
      service: alloy
  node-exporter:
    extends:
      file: ../addons/node-exporter/compose.yaml
      service: node-exporter
networks:
  gas:
    name: gas-network
volumes:
  execution_data:
    name: ${EC_VOLUME_NAME}
    driver: local
    driver_opts:
      type: none
      o: bind,rw,dirsync,noatime
      device: ${EC_DATA_DIR}
