services:
  alloy:
    image: grafana/alloy:latest
    depends_on:
      - execution
    restart: unless-stopped
    networks:
      - gas
    expose:
      - 12345
    ports:
      - 127.0.0.1:12345:12345
    volumes:
      - ./config.alloy:/etc/alloy/config.alloy
      - /var/run/docker.sock:/var/run/docker.sock
    environment:
      METRICS_SCRAPE_INTERVAL: "12s"
      METRICS_ENDPOINT_PATH: "/metrics"
      METRICS_LABELS_INSTANCE: "${GA_METRICS_LABELS_INSTANCE}"
      METRICS_LABELS_NETWORK: "${GA_METRICS_LABELS_NETWORK}"
      METRICS_LABELS_TESTNET: "${GA_METRICS_LABELS_TESTNET}"
      METRICS_LABELS_EXECUTION_CLIENT: "${GA_METRICS_LABELS_EXECUTION_CLIENT}"
      PROMETHEUS_RW_URL: "${GA_PROMETHEUS_RW_URL}"
      PROMETHEUS_RW_USERNAME: "${GA_PROMETHEUS_RW_USERNAME}"
      PROMETHEUS_RW_PASSWORD: "${GA_PROMETHEUS_RW_PASSWORD}"
      LOKI_RW_URL: "${GA_LOKI_RW_URL}"
      LOKI_RW_USERNAME: "${GA_LOKI_RW_USERNAME}"
      LOKI_RW_PASSWORD: "${GA_LOKI_RW_PASSWORD}"
      PYROSCOPE_RW_URL: "${GA_PYROSCOPE_RW_URL}"
      PYROSCOPE_RW_USERNAME: "${GA_PYROSCOPE_RW_USERNAME}"
      PYROSCOPE_RW_PASSWORD: "${GA_PYROSCOPE_RW_PASSWORD}"
      PYROSCOPE_LOCAL_ADDRESS: "0.0.0.0"
      PYROSCOPE_LOCAL_PORT: "9999"
      NETHERMIND_PROJECT: "core-gas-benchmarking"
      EXTERNAL_PROVIDER: "github-gas-benchmarking"
